@page "/proveedores"
@inject IHttpServicio http

<PageTitle>PROVEEDORES</PageTitle>

<HeadContent>
    <meta name="description" content="Listado de Proveedores" />
</HeadContent>

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="/css/Estilos/ListaProveedores.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="tituloBtn">
        <h3>Lista de Proveedores</h3>
        <a class="btn btn-primary btnCrear" href="proveedores/crear">Crear Proveedor</a>
    </div>

    <table class="fuente">
        <tr>
            <th class="col-3">Nombre</th>
            <th class="col-3">Apellido</th>
            <th class="col-3">Razon Social</th>
            <th class="col-3">Telefono</th>
            <th></th>
            <th></th>
        </tr>

        @if (Error)
        {
            <tr>@Mensaje</tr>
        }
        else
        {
            @if (proveedores == null)
            {
                <tr>Cargando...</tr>
            }
            else if (proveedores.Count == 0)
            {
                <tr>No existen proveedores.</tr>
            }
            else
            {
                foreach (var item in proveedores)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Apellido</td>
                        <td>@item.RazonSocial</td>
                        <td>@item.Telefono</td>
                        <td>
                            <a class="btnEditar"
                               href="proveedores/editar/@item.Id">
                                <i class='bx bxs-edit-alt'></i>
                                @* Editar *@
                            </a>
                        </td>
                        <td>
                            <a class="btnBorrar"
                            @onclick="()=>Eliminar(item)">
                                <i class='bx bxs-trash'></i>
                                @* Borrar *@
                            </a>
                        </td>
                    </tr>
                }
            }
        }
    </table>

    <Confirmacion @ref="confirmacion"
                  verCancelar="true"
                  verOk="true"
                  textOk="Aceptar"
                  Titulo="Borrar Proveedores"
                  onCancel="Cancelar"
                  onConfirm="Borrar">
        <div>
            <p>Está por borrar el proveedor @ProveedorBorrar.Nombre</p>
            <br />
            ¿Está seguro que desea continuar?
        </div>
    </Confirmacion>
</body>


@code {
    Confirmacion confirmacion;

    List<Proveedor>? proveedores;
    bool Error = false;
    string Mensaje = "";
    Proveedor ProveedorBorrar;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Leer();
    }

    private async Task Leer()
    {
        proveedores = null;
        var respuesta = await http.Get<List<Proveedor>>("api/Proveedores");
        Error = respuesta.Error;
        if (!respuesta.Error)
        {
            proveedores = respuesta.Respuesta;
        }
        else
        {
            Mensaje = await respuesta.ObtenerError();
        }
    }

    private void Cancelar()
    {
        confirmacion.Ocultar();
        ProveedorBorrar = null;
    }

    private async Task Eliminar(Proveedor proveedorBorrar)
    {
        ProveedorBorrar = proveedorBorrar;
        confirmacion.Ver();
    }

    private async Task Borrar()
    {
        var respuesta = await http.Delete($"api/proveedores/{ProveedorBorrar.Id}");
        if (respuesta.Error)
        {
            var body = "Error, no se puede borrar el proveedor.";
        }

        Cancelar();
        await Leer();
    }
}